.editTask{
    display: none;
    background-color: #404040;
    margin-left: 1514px;
    position: absolute;
    margin-top: 244px;
    border-radius: 10px;
    height: 354px;
    width: 444px;
}

.edit-left-side{
    height: 354px;
    width: 222px;
}

.contributor{
    border-bottom: 0.1px solid black;
    height: 64px;
}

.contributor img{
    margin-left: 4px;
    margin-top: 6px;
    border-radius: 50%;
    width: 44px;
}

.contributor h2{
    margin-left: 58px;
    margin-top: -44px;
    position: absolute;
    font-size: 14px;
    font-family: 'Karla', sans-serif;
    color: white;
}

.contributor h3{
    margin-left: 58px;
    margin-top: -24px;
    position: absolute;
    font-size: 12px;
    font-family: 'Karla', sans-serif;
    color: gray;
}

.edit-left-side label{
    display: block;
    position: absolute;
    margin-left: 24px;
    margin-top: 34px;
    color: white;
    font-family: 'Karla', sans-serif;
}

.edit-left-side select{
    outline: white;
    color: white;
    margin-top: 64px;
    margin-left: 24px;
    height: 24px;
    width: 164px;
    border-bottom: 1px solid #7dd87b !important;
    border: none;
    background-color: transparent;
}

.edit-right-side{
    margin-top: -354px;
    height: 354px;
    width: 222px;
    margin-left: 214px;
}

.edit-left-side input{
    outline: white;
    color: white;
    margin-top: 64px;
    margin-left: 24px;
    height: 24px;
    width: 164px;
    border-bottom: 1px solid #7dd87b !important;
    border: none;
    background-color: transparent;
}

.edit-left-side input{
    outline: white;
    color: white;
    margin-top: 64px;
    margin-left: 24px;
    height: 24px;
    width: 164px;
    border-bottom: 1px solid #7dd87b !important;
    border: none;
    background-color: transparent;
}

.edit-right-side input{
    outline: white;
    color: white;
    margin-top: 24px;
    margin-left: 24px;
    height: 24px;
    width: 114px;
    border-bottom: 1px solid #7dd87b !important;
    border: none;
    background-color: transparent;
}

.contributor ion-icon{
    position: absolute;
    margin-top: -34px;
    margin-left: 174px;
    color: red;
}

.loading-contributors{
    margin-top: 134px;
    margin-left: 84px;
}

.edit-right-side button{
    font-size: 10px;
    color: white;
    height: 24px;
    width: 44px;
    border-radius: 4px;
    border: none;
    background-color: #7dd87b;
    margin-left: 24px;
    position: absolute;
    margin-top: 24px;
}

.contributors{
    overflow-y: scroll;
    max-height: 284px;
    height: auto;
    margin-top: 14px;
}

.edit-left-side button{
    height: 34px;
    width: 64px;
    border-radius: 4px;
    border: none;
    background-color: #7dd87b;
    margin-left: -114px;
    position: absolute;
    margin-top: 134px;
}